<div class="content-menu">
  <div class="body">
    <h2>
      mEtsy
    </h2>
    <div id="lblFavesThisHour">
    </div>

    <div id="msg" class="container">
      LAST LOG
    </div>

    <div class="container">
      <label class="text-bold">
        Tasks:
      </label>
      <div id="tasks" class="text-left">

      </div>
    </div>
  </div>
  <div class="footer">
    <div>
      <button id="btn-insert-test-task">
        Insert Test TaskDTO
      </button>
    </div>
    <div>
      <button id="btn-start">
        Start
      </button>
    </div>
  </div>
</div>
