.content-menu {
  border: 1px solid #ddd;
  z-index: 9999;
  position: absolute;
  right: 0;
  top: 100px;
  height: 200px;
  width: 150px;
  padding: 20px 10px;
  text-align: center;
  background: #fdfdaa;
  opacity: 0.8;
}
